# Virtual Environment
venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Database
db.sqlite3

# Environment Variables
.env

# Media Files
media/

# IDE Files
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

gcm-diagnose.log